*{
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-flow: column wrap;
    background-color: antiquewhite;
}

#header{
    padding: 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#calculatorContainer{
    align-self: center;
    background-color: black;
    border: rgb(100, 100, 100) 2px solid;
    border-radius: 5%;
    padding: 20px 10px 10px 10px;
}

#display{
    border: rgb(100, 100, 100) 2px solid;
    border-radius: 2%;
    background-color: aliceblue;
    padding: 20px;
    margin-bottom: 5px;
}

#topButtons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#bottomButtons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.clearAndDelete{
    padding: 15px;
    margin: 1px;

}

#clearButton{
    background-color: pink;
}

#deleteButton{
    background-color: lightblue;
}


.bodyButtons{
    padding: 10px 20px;
    margin: 1px;
}







#footer{
color: aliceblue;
background-color: black;
margin: 0;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 10px;
padding: 5px;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
bottom: 0;
left: 0;
width: 100%;
}